body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.menu-icon {
    font-size: 30px;
    padding: 15px;
    cursor:pointer ;
    background-color: rgb(58, 56, 56);
    color: white;
    width: fit-content;
}


.navbar {
    position: fixed;
    top: 0;
    left: -250px;   
    width: 250px;
    height: 100%;
    background-color: rgb(58, 56, 56);
    transition: left 0.3s ease;
}


.navbar.active {
    left: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    border-bottom: 1px solid #444;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: rgb(36, 36, 36);
}
